<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logFileLocation" value=""/>
    <add key="tempDirectory" value=""/>
    <add key="finalDirectory" value=""/>
    <add key="makemkv.minTitleLength" value=""/>
    <add key="makemkv.location" value="C:\Program Files (x86)\MakeMKV\makemkvcon64.exe"/>
    <add key="dvdxml.username" value=""/>
    <add key="dvdxml.password" value=""/>
    <add key="pushalot.url" value="https://pushalot.com/api/sendmessage"/>
    <add key="pushalot.token" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>